<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></link>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"></link>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<div class=page>
<div class=page>
  <h1 class="text-center">Animal Simulation</h1>
  <div class=metanav>
  {% block body %}{% endblock %}
</div>